body{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.texto-menor{
    font-size: 13px;
}
.divs-facilidades i{
    color: #DAFF01;
}
.divs-facilidades .text-subtitulo{
    color: #DAFF01;
}
.btn-verMais{
    background-color: #9353FF;
    color: #fff;
}
.btn-verMais:hover{
    background-color: #fff;
    color: #9353FF;
    border: 1px solid #9353FF
}
.div-novidades{
    width:50%;
}